<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
  <mat-form-field>

    <input matInput type="email" [(ngModel)]="email"  placeholder="Email">
  </mat-form-field>
  </div>
  <div class="col-md-6">
    <mat-form-field>

      <input matInput type="password" placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button class="btn btn-secondary float-right mar-r-5" (click)="close()">Cancel</button>
  <button class="btn btn-primary float-right mar-r-5" (click)="save()">Submit</button>
  <span class="text-danger">{{errorMsg}}</span>
</div>
