<div class="mxy-20">
  <div class="row mab-5">
    <div class="col-md-10">
      <p class="text-success text-center">{{successMsg}}</p>
    </div>

  </div>
  <div class="row">
    
    <div *ngFor="let item of wheatherRes; let i = index;" class="col-md-3">
      <div class="card text-center">
        <div class="card-header">

        </div>
        <div class="card-body">

          <a href="#" (click)="addCity(i)" class="btn btn-primary">Add City</a>
        </div>

      </div>
    </div>
  </div>
</div>